<!-- header -->
<header class="header">
    <div class="container">
        <div class="header__logo"><a asp-area="" asp-controller="Home" asp-action="index"><img src="~/img/logo.png" alt="" /></a></div>

        <!-- consult-nav -->
        <nav class="consult-nav">

            <!-- consult-menu -->
            <ul class="consult-menu">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="about">about</a>
                </li>
                <li class="menu-item-has-children current-menu-item">
                    <a href="#">booking</a>
                    <ul class="sub-menu">
                        <li>
                            <a asp-area="" asp-controller="Movies" asp-action="MovieList">Movies</a>
                        </li>
                        <li class="current-menu-item">
                            <a asp-area="" asp-controller="Movies" asp-action="CinemaList">Cinemas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">cart</a>
                </li>
                <li>
                    <a href="#">login</a>
                </li>
            </ul>
        </nav><!-- End / consult-nav -->

    </div>
</header><!-- End / header -->
<!-- Content-->