@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<!-- Section -->
<section class="md-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">

                <!-- title-01 -->
                <div class="title-01 title-01__style-04">
                    <h6 class="title-01__subTitle">Log in</h6>
                    <h2 class="title-01__title">Use another service to log in.</h2>
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @{ 
                                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                                
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                    <!-- End / title-01 -->

            </div>
        </div>
    </div>
</section>
<!-- End / Section -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
