<!-- Content-->
<div class="md-content">

    <!-- Section -->
    <section class="md-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">

                    <!-- title-01 -->
                    <div class="title-01 title-01__style-04">
                        <h6 class="title-01__subTitle">Home</h6>
                        <h2 class="title-01__title">This is a test Home page</h2>
                        <div>Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla, viverra est ut, faucibus lectus. Integer vel finibus ex, et convallis enim. Curabitur tristique convallis neque a eleifend. Donec mattis leo in velit scelerisque, sit amet ultricies erat mollis. Suspendisse potenti. Etiam commodo ipsum placerat, ornare libero a, consequat justo.</div>
                    </div><!-- End / title-01 -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->
</div>